<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->

<!--    <div th:replace="templates::head_include"></div>-->

<!--</head>-->

<!--<body class="is-preload">-->

<!--&lt;!&ndash; Wrapper &ndash;&gt;-->
<!--<div id="wrapper">-->

<!--    &lt;!&ndash; Main &ndash;&gt;-->
<!--    <div id="main">-->
<!--        <div class="inner">-->

<!--            &lt;!&ndash; Header &ndash;&gt;-->
<!--            <header id="header">-->
<!--                <div class="logo">-->
<!--                    <a th:href="@{/security/mainController}">道路综合巡查管理系统</a>-->
<!--                </div>-->
<!--            </header>-->

<!--            &lt;!&ndash; Banner &ndash;&gt;-->
<!--            <section class="main-banner">-->
<!--                <iframe width=1600 height=900 src="http://192.168.247.156:10000/1slrdw37cyzd/" frameborder=0 allowfullscreen=true></iframe>-->
<!--            </section>-->

<!--        </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Sidebar &ndash;&gt;-->
<!--    <div id="sidebar">-->

<!--        <div class="inner">-->

<!--            &lt;!&ndash; Search Box &ndash;&gt;-->
<!--            <section id="search" class="alt">-->
<!--                <form method="get" action="#">-->
<!--                    <input type="text" name="search" id="search" placeholder="Search..."/>-->
<!--                </form>-->
<!--            </section>-->

<!--            &lt;!&ndash; Menu &ndash;&gt;-->
<!--            <nav id="menu">-->
<!--                <ul>-->
<!--                    <li><a th:href="@{/security/mainController}">主页</a></li>-->
<!--                    &lt;!&ndash;用户&ndash;&gt;-->
<!--                    <li>-->
<!--                        <span class="opener">用户</span>-->
<!--                        <ul>-->
<!--                            <li><a th:href="@{/user/toInput}">新增用户 #1</a></li>-->
<!--                            <li><a th:href="@{/user/list}">用户管理 #2</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    &lt;!&ndash;道路&ndash;&gt;-->
<!--                    <li>-->
<!--                        <span class="opener">道路</span>-->
<!--                        <ul>-->
<!--                            <li><a th:href="@{/road/toInput}">新增道路 #1</a></li>-->
<!--                            <li><a th:href="@{/road/list}">道路管理 #2</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    &lt;!&ndash;日常巡检&ndash;&gt;-->
<!--                    <li>-->
<!--                        <span class="opener">日常巡检</span>-->
<!--                        <ul>-->
<!--                            <li><a th:href="@{/dailyInspect/toInput}">新增日常巡检 #1</a></li>-->
<!--                            <li><a th:href="@{/dailyInspect/list}">日常巡检管理 #2</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    &lt;!&ndash;定期巡检&ndash;&gt;-->
<!--                    <li>-->
<!--                        <span class="opener">定期巡检</span>-->
<!--                        <ul>-->
<!--                            <li><a th:href="@{/regularSmooth/toInput}">新增定期平整巡检 #1</a></li>-->
<!--                            <li><a th:href="@{/regularSmooth/list}">定期平整巡检管理 #2</a></li>-->
<!--                            <li><a th:href="@{/regularDamage/toInput}">新增定期损坏巡检 #3</a></li>-->
<!--                            <li><a th:href="@{/regularDamage/list}">定期损坏巡检管理 #4</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    &lt;!&ndash;技术状况评价&ndash;&gt;-->
<!--                    <li><a th:href="@{/regularDamage/listEval}">技术状况评价</a></li>-->
<!--                    <li><a href="#">External Link</a></li>-->

<!--                    &lt;!&ndash;分割线&ndash;&gt;-->
<!--                    <li><a th:href="@{/}">-&#45;&#45;分割线-&#45;&#45;</a></li>-->

<!--                    &lt;!&ndash;人事管理&ndash;&gt;-->
<!--                    &lt;!&ndash;TODO&ndash;&gt;-->
<!--                    <li>-->
<!--                        <span class="opener">人事管理</span>-->
<!--                        <ul>-->
<!--                            <li><a th:href="@{/personnelManagement/toInput}">新增人员 #1</a></li>-->
<!--                            <li><a th:href="@{/personnelManagement/list}">人员管理 #2</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->

<!--                    &lt;!&ndash;设备管理&ndash;&gt;-->
<!--                    &lt;!&ndash;TODO&ndash;&gt;-->
<!--                    &lt;!&ndash;设备采购、研发、调试、维护&ndash;&gt;-->
<!--                    <li>-->
<!--                        <span class="opener">设备管理</span>-->
<!--                        <ul>-->
<!--                            <li><a th:href="@{/deviceManagement/toInput}">设备采购 #1</a></li>-->
<!--                            <li><a th:href="@{/deviceManagement/toInput}">设备研发 #2</a></li>-->
<!--                            <li><a th:href="@{/deviceManagement/toInput}">设备调试 #3</a></li>-->
<!--                            <li><a th:href="@{/deviceManagement/toInput}">设备维护 #4</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->


<!--                    &lt;!&ndash;车辆管理&ndash;&gt;-->
<!--                    &lt;!&ndash;TODO&ndash;&gt;-->
<!--                    <li><a th:href="@{/vehicleManagement/List}">车辆管理</a></li>-->

<!--                    &lt;!&ndash;巡检&ndash;&gt;-->
<!--                    &lt;!&ndash;TODO&ndash;&gt;-->
<!--                    <li>-->
<!--                        <span class="opener">巡检</span>-->
<!--                        <ul>-->
<!--                            &lt;!&ndash; 日常巡检 &ndash;&gt;-->
<!--                            <li>-->
<!--                                <span class="opener">日常巡检</span>-->
<!--                                <ul>-->
<!--                                    <li><a th:href="@{/dailyInspect/toInput}">新增日常巡检 #1</a></li>-->
<!--                                    <li><a th:href="@{/dailyInspect/list}">日常巡检管理 #2</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            &lt;!&ndash; 定期巡检 &ndash;&gt;-->
<!--                            <li>-->
<!--                                <span class="opener">定期巡检</span>-->
<!--                                <ul>-->
<!--                                    <li><a th:href="@{/regularSmooth/toInput}">新增定期平整巡检 #1</a></li>-->
<!--                                    <li><a th:href="@{/regularSmooth/list}">定期平整巡检管理 #2</a></li>-->
<!--                                    <li><a th:href="@{/regularDamage/toInput}">新增定期损坏巡检 #3</a></li>-->
<!--                                    <li><a th:href="@{/regularDamage/list}">定期损坏巡检管理 #4</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            &lt;!&ndash; 专项巡检 &ndash;&gt;-->
<!--                            &lt;!&ndash;TODO&ndash;&gt;-->
<!--                            <li>-->
<!--                                <span class="opener">专项巡检</span>-->
<!--                                <ul>-->
<!--                                    <li><a th:href="@{/specialInspect/toInput}">新增专项巡检</a></li>-->
<!--                                    <li><a th:href="@{/specialInspect/list}">专项巡检管理</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->

<!--                    &lt;!&ndash;巡检管理&ndash;&gt;-->
<!--                    &lt;!&ndash;TODO&ndash;&gt;-->
<!--                    <li>-->
<!--                        <span class="opener">巡检管理</span>-->
<!--                        <ul>-->
<!--                            <li>-->
<!--                                <span class="opener">巡检任务管理</span>-->
<!--                                <ul>-->
<!--                                    <li><a th:href="@{/inspectionTaskManagement/toInput}">新增巡检任务 #1</a></li>-->
<!--                                    <li><a th:href="@{/inspectionTaskManagement/list}">巡检任务管理 #2</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span class="opener">巡检记录管理</span>-->
<!--                                <ul>-->
<!--                                    <li><a th:href="@{/inspectionRecordManagement/toInput}">新增巡检记录 #1</a></li>-->
<!--                                    <li><a th:href="@{/inspectionRecordManagement/list}">巡检记录管理 #2</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->

<!--                    &lt;!&ndash;数据统计分析&ndash;&gt;-->
<!--                    &lt;!&ndash;TODO&ndash;&gt;-->
<!--                    <li>-->
<!--                        <span class="opener">数据统计分析</span>-->
<!--                        <ul>-->
<!--                            <li><a th:href="@{/dataStatisticsAnalysis/}">数据统计分析大屏</a></li>-->

<!--                        </ul>-->
<!--                    </li>-->

<!--                    &lt;!&ndash;数据审查修正&ndash;&gt;-->
<!--                    &lt;!&ndash;TODO&ndash;&gt;-->
<!--                    <li>-->
<!--                        <span class="opener">数据审查修正</span>-->
<!--                        <ul>-->
<!--                            <li><a th:href="@{/reviewCorrection/toInput}">数据审查修正 #1</a></li>-->
<!--                            <li><a th:href="@{/diseaseOrganization/toInput}">病害整理 #2</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->

<!--                    &lt;!&ndash;病害检测&ndash;&gt;-->
<!--                    &lt;!&ndash;TODO&ndash;&gt;-->
<!--                    <li><a th:href="@{/diseaseDetection/List}">病害检测</a></li>-->

<!--                    &lt;!&ndash;信息管理&ndash;&gt;-->
<!--                    &lt;!&ndash;TODO&ndash;&gt;-->
<!--                    <li>-->
<!--                        <span class="opener">信息管理</span>-->
<!--                        <ul>-->
<!--                            <li><a th:href="@{/diseaseBasicInfoManagement/toInput}">病害基础信息管理 #1</a></li>-->
<!--                            <li><a th:href="@{/roadBasicInfoManagement/toInput}">道路基础信息管理 #2</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->

<!--                    &lt;!&ndash;系统审计&ndash;&gt;-->
<!--                    &lt;!&ndash;TODO&ndash;&gt;-->
<!--                    <li><a th:href="@{/systemAudit/List}">系统审计</a></li>-->

<!--                    &lt;!&ndash;派工&ndash;&gt;-->
<!--                    &lt;!&ndash;TODO&ndash;&gt;-->
<!--                    <li>-->
<!--                        <span class="opener">派工</span>-->
<!--                        <ul>-->
<!--                            <li><a th:href="@{/automaticDispatch/toInput}">自动派工 #1</a></li>-->
<!--                            <li><a th:href="@{/manualDispatch/toInput}">手动派工 #2</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->

<!--                    &lt;!&ndash;进度跟踪&ndash;&gt;-->
<!--                    &lt;!&ndash;TODO&ndash;&gt;-->
<!--                    <li><a th:href="@{/progressTracking/List}">进度跟踪</a></li>-->

<!--                    &lt;!&ndash;养护结果评价&ndash;&gt;-->
<!--                    &lt;!&ndash;TODO&ndash;&gt;-->
<!--                    <li><a th:href="@{/maintenanceEvaluation/List}">养护结果评价</a></li>-->

<!--                </ul>-->
<!--            </nav>-->

<!--            &lt;!&ndash; Footer &ndash;&gt;-->
<!--            <footer id="footer">-->
<!--                <p class="copyright">Copyright &copy; 2019 Company Name-->
<!--                    <br>Designed by CQJTU <a href="http://www.cqjtu.edu.cn/" target="_blank"-->
<!--                                             title="重庆交通大学">重庆交通大学</a></p>-->
<!--            </footer>-->

<!--        </div>-->
<!--    </div>-->

<!--</div>-->

<!--&lt;!&ndash; Scripts &ndash;&gt;-->
<!--&lt;!&ndash; Bootstrap core JavaScript &ndash;&gt;-->
<!--<script th:src="@{/vendor/jquery/jquery.min.js}"></script>-->
<!--<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>-->

<!--<script th:src="@{/assets/js/browser.min.js}"></script>-->
<!--<script th:src="@{/assets/js/breakpoints.min.js}"></script>-->
<!--<script th:src="@{/assets/js/transition.js}"></script>-->
<!--<script th:src="@{/assets/js/owl-carousel.js}"></script>-->
<!--<script th:src="@{/assets/js/custom.js}"></script>-->
<!--</body>-->


<!--</html>-->
