<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="templates::head_include"></div>

</head>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <div class="logo">
                    <a th:href="@{/security/mainController}">道路综合巡查管理系统</a>
                </div>
            </header>

            <!-- Banner -->
            <section class="main-banner">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="banner-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="banner-caption">
                                            <h4>欢迎访问<em>道路综合巡查</em>管理系统。</h4>
                                            <span>适用于各类道路巡查、养护管理</span>
                                            <p>在交通强国战略的指引下，我国交通运输事业进入了快速发展的轨道。在这个过程中，道路作为交通运输的重要载体，其安全、畅通和高效运行对于保障国民经济和社会发展具有重要意义。</p>
                                            <div class="primary-button">
                                                <a href="#">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">

        <div class="inner">

            <!-- Search Box -->
            <section id="search" class="alt">
                <form method="get" action="#">
                    <input type="text" name="search" id="search" placeholder="Search..."/>
                </form>
            </section>

            <!-- Menu -->
            <nav id="menu">
                <ul>
                    <li><a th:href="@{/security/mainController}">主页</a></li>
                    <!--用户-->
                    <li>
                        <span class="opener">用户</span>
                        <ul>
                            <li><a th:href="@{/user/toInput}">新增用户 #1</a></li>
                            <li><a th:href="@{/user/list}">用户管理 #2</a></li>
                        </ul>
                    </li>
                    <!--道路-->
                    <li>
                        <span class="opener">道路</span>
                        <ul>
                            <li><a th:href="@{/road/toInput}">新增道路 #1</a></li>
                            <li><a th:href="@{/road/list}">道路管理 #2</a></li>
                        </ul>
                    </li>
                    <!--日常巡检-->
                    <li>
                        <span class="opener">日常巡检</span>
                        <ul>
                            <li><a th:href="@{/dailyInspect/toInput}">新增日常巡检 #1</a></li>
                            <li><a th:href="@{/dailyInspect/list}">日常巡检管理 #2</a></li>
                        </ul>
                    </li>
                    <!--定期巡检-->
                    <li>
                        <span class="opener">定期巡检</span>
                        <ul>
                            <li><a th:href="@{/regularSmooth/toInput}">新增定期平整巡检 #1</a></li>
                            <li><a th:href="@{/regularSmooth/list}">定期平整巡检管理 #2</a></li>
                            <li><a th:href="@{/regularDamage/toInput}">新增定期损坏巡检 #3</a></li>
                            <li><a th:href="@{/regularDamage/list}">定期损坏巡检管理 #4</a></li>
                        </ul>
                    </li>


                    <!--病害管理-->
                    <!--TODO-->
                    <li>
                        <span class="opener">病害管理</span>
                        <ul>
                            <li><a th:href="@{/diseaseBasicInfoManagement/toInput}">新增病害 #1</a></li>
                            <li><a th:href="@{/diseaseBasicInfoManagement/list}">病害管理 #2</a></li>
                        </ul>
                    </li>

                    <!--人事管理-->
                    <!--TODO-->
                    <li>
                        <span class="opener">人事管理</span>
                        <ul>
                            <li><a th:href="@{/personnelManagement/toInput}">新增人员 #1</a></li>
                            <li><a th:href="@{/personnelManagement/list}">人员管理 #2</a></li>
                        </ul>
                    </li>

                    <!--设备管理-->
                    <!--TODO-->
                    <!--设备采购、研发、调试、维护-->
                    <li>
                        <span class="opener">设备管理</span>
                        <ul>
                            <li><a th:href="@{/deviceManagement/toInput}">设备采购 #1</a></li>
                            <li><a th:href="@{/deviceManagement/toInput}">设备管理 #2</a></li>
                        </ul>
                    </li>


                    <!--车辆管理-->
                    <!--TODO-->
                    <li><a th:href="@{/vehicleManagement/List}">车辆管理</a></li>

                    <!--巡检管理-->
                    <!--TODO-->
                    <li>
                        <span class="opener">巡检管理</span>
                        <ul>
                            <li><a th:href="@{/deviceManagement/toInput}">新增巡检任务 #1</a></li>
                            <li><a th:href="@{/deviceManagement/toInput}">巡检任务管理 #2</a></li>
                            <li><a th:href="@{/deviceManagement/toInput}">巡检记录管理 #3</a></li>
                        </ul>
                    </li>

                    <!--派工-->
                    <!--TODO-->
                    <li>
                        <span class="opener">派工</span>
                        <ul>
                            <li><a th:href="@{/automaticDispatch/toInput}">手动派工 #1</a></li>
                            <li><a th:href="@{/manualDispatch/toInput}">派工管理 #2</a></li>
                        </ul>
                    </li>

                    <!--数据统计分析-->
                    <!--TODO-->
                    <li>
                        <span class="opener">数据统计分析</span>
                        <ul>
                            <li><a th:href="@{/regularDamage/listEval}">技术状况评价 #1</a></li>
                            <li><a th:href="@{/dataStatisticsAnalysis/toInput}">数据统计分析大屏 #2</a></li>
                            <li><a th:href="@{/reportGeneration/toInput}">报表生成 #3</a></li>
                        </ul>
                    </li>

                    <!--数据审查修正-->
                    <!--TODO-->
                    <li><a th:href="@{/reviewCorrection/toInput}">数据审查修正</a></li>


                    <!--系统审计-->
                    <!--TODO-->
                    <li><a th:href="@{/systemAudit/List}">系统审计</a></li>

                </ul>
            </nav>

            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">Copyright &copy; 2024 智慧猫猫 智能巡检系统.
                    <br>Designed by ZJUT <a href="http://www.zjut.edu.cn/" target="_blank"
                                             title="浙江工业大学">浙江工业大学</a></p>
            </footer>

        </div>
    </div>

</div>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/transition.js}"></script>
<script th:src="@{/assets/js/owl-carousel.js}"></script>
<script th:src="@{/assets/js/custom.js}"></script>
</body>


</html>
